body{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
     background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    display: flex;
    align-items: center;
}
.container img{
    font-size: 30px;
    font-weight: bold;
    color: #0da9d8;
    text-decoration: none;
    width: 50px;
    border-radius:50px;
}
.logo p{
    font-size: 20px;
    color: #000000;
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav a hover{
    text-decoration:none;
    color:#0bccda;
    margin:0 15px;
    font-size:30px;
}
.btn{
    background-color: #9929fb;
    font-family:"Lato", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.abt-img img{
    width: 300px;
    height: auto;
    margin-left: 800px;
    margin-block: 0%;
}
.abt-content{
    margin-right: 40px;
    font-size:x-large;
    color: #46ccf5;
   
}
.abt-content h1{
    font-size:x-large;
    margin: 30px;
    color: #9929fb;
}
.about-section{
    display: flex;

}

